@{
    ViewData["Title"] = "Доставка и оплата";
}
<h1>@ViewData["Title"]</h1>
<div class="dilivery-about_col">
    <h2 class="h2_div">Стандартная доставка - от 5 дней</h2>
    <p class ="p_item">
        Только при оформлении заказа до 18:00.
        Бесплатно при заказе на общую сумму от 10 000 Р.
        Стоимость доставки заказа - от 0 Р.
        Оплата 
            онлайн и система быстрых платежей (СБП)
            картой или наличными при получении.
    </p>
</div>
